.book{
  border-bottom: 1px solid lightgrey;
  margin: 10px;
  padding: 10px;
}
.enrollBtn{
  margin-left: 10px;
}
.book img{
  width: 200px;
  margin: 10px;
}
.containerShop{
  border-right: 1px solid lightgray;
}
.cart{
  margin: 30px;
}
.cart h3{
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
}
.cart h6{
  font-weight: 800;
}
.navigation{
  padding: 1px;
}
.footer{
  text-align: center;
  padding: 20px;
}